.fnb-ghost {
  --angle: 0deg;
  --stretch: 1;
  --x: 0px;
  --y: 0px;
  filter: blur(var(--blur, 0)) !important;
  left: 0 !important;
  margin: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 0 !important;
  transform: translate(var(--x), var(--y))
        rotate(var(--angle))
        scaleY(var(--stretch))
        rotate(calc(0deg - var(--angle))) !important;
  transform-origin: center center !important;
  transition: none !important;
}
